@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=The+Nautigal&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css'); */

*{ /*config geral*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; /*Tira o Estlo das lista*/
    font-family: "Poppins", sans-serif;
}

/* ---------Body------------------- */

body{
    background-color: #e9edef;
    /* background-color: #e9edef; */
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    /* padding-bottom: 100px; altura do footer */
    /* overflow: hidden; */
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 1rem 0 1rem 0;
    border-bottom: 0.001rem solid rgba(128, 128, 128, 0.363);
    background-color: #0f3256;
    box-shadow: 0 0 13px ;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{  /*Costumização dos links dentro da classe cabeçalho*/
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.cabeçalho-link a:hover{ /*Costumização dos links, quando passa o mouse por cima, dentro da classe cabeçalho*/
    color: #ff5e6c;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ff5e6c;
    color: #ff5e6c;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer; /*sai do ponteiro para mao*/
}

.logo:hover{
    background-color: #ff5e6c;
    color: white;
    transition: 0.3s all;
}

button{
    font-weight: bold;
    color: #ff5e6c;
    background: transparent;
    border: solid 1px #ff5e6c;
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    width: 150px;
    cursor: pointer;
}

header button:hover, #nav_button button:hover{
    background-color: #ff5e6c;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

/* ---------------- Navegation ------------------------ */
#nav_dados{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    font-weight: 600;
    color: #ff5e6c;
}

/* ------------------- Grid Dados --------------------------- */

#container_dados{
    display: grid;
    grid-template-columns: 40% 40%; /* 2 colunas */
    grid-template-rows: 20% 20% 20% 20% 20%;  /* 4 linhas */
    grid-template-areas: "header header"
                         "investimento data_compra"
                         "taxa_selic  data_final"
                         "taxa_cdi botoes" 
                         "calcular calcular";
    grid-column-gap: 10px;
    box-shadow: 0 0 13px gray;
    border-radius: 20px;
    width: 60%;
    height: 370px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #0f3256;
}

#container_dados h1{
    grid-area: header;
    text-align: center;
}

#container-grid-investimento{
    grid-area: investimento;
}

#container-grid-taxaSelic{
    grid-area: taxa_selic;
}

#container-grid-taxaCDI{
    grid-area: taxa_cdi;
}

#container-grid-dataCompra{
    grid-area: data_compra;
}

#container-grid-dataFinal{
    grid-area: data_final;
}

#buttons{
    grid-area: botoes;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#nav_button{
    grid-area: calcular;
}

/* --------------------- Container Dados ------------------------ */

#container_dados input{
    width: 100%;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    /* border-left: 0; */
}

.container-input{
    display: flex;
}

.container-input div{
    border-top: 1px solid black;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color: black;
    background-color: white;
}

.container-input input{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0;
}

/* navegation Resultados */

.nav_resultados{
    /* background-color: blue; */
    margin: 60px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------- Container Resultados grid ---------------------------- */

#container_resultados{
    display: grid;
    grid-template-columns: 40% 40%; /* 3 colunas */
    grid-template-rows: 20% 20% 20% 20%;  /* 2 linhas */
    grid-template-areas: "header header"
                        "investimento Lucro_b"
                        "Imposto_p Imposto_r"
                        "lucro_l valor_l";
    box-shadow: 0 0 13px gray;
    grid-gap: 20px;
    border-radius: 20px;
    width: 60%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* padding: 20px 20px 20px 100px; */
}

#container_resultados h1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/4; */
    grid-area: header;
    text-align: center;
    /* background-color: yellow; */
}

#container-output-investimento{
    grid-area: investimento;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-output-lucroBruto{
    grid-area: Lucro_b;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

#container-output-percentualIr{
    grid-area: Imposto_p;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

#container-output-impostoRenda{
    grid-area: Imposto_r;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ff5e6c; */
}

#container-output-lucroLiquido{
    grid-area: lucro_l;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#container-output-valorLiquido{
    grid-area: valor_l;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
}

/*--------------------- Container Resultados Output -------------------------  */
.container-output{
    width: 300px;
    height: 100px;
    text-align: center;
    font-weight: bolder;
}


.container-output output{
    background-color: white;
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-top: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 30px;
}

.container-output p{
    width: 100%;
    height: 20%;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 0px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#impostoRenda, #percentualIr{
    color: #ff5e6c;
}

#lucroLiquido, #valorLiquido, #lucroBruto{
    color: green;
}

.container-input div{
    text-align: center;
    width: 30px;
}

.selectButtoms{
    box-shadow: 0 0 7px #ff5e6c;
}

.selectButtoms.selecionado{
    background-color: #ff5e6c;
    color: white;
}

#lca{
    box-shadow: 0 0 7px #ff5e6c;
}

/* ----------- Botao de Calcular ------------- */

#nav_button{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 50px 0 0 0; */
}

#nav_button button{
    font-size: 20px;
    box-shadow: 0 0 13px #ff5e6c;
}

/* ----------- Exemples -------------------*/
#container-examples{
    /* background-color:blue; */
    margin-top: 100px; 
}

.container-exemples-img{
    text-align: center;
    justify-content: center;
}

.container-exemples-img img{
    width: 600px;
}