@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=The+Nautigal&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css'); */

*{ /*config geral*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; /*Tira o Estlo das lista*/
    font-family: "Poppins", sans-serif;
}

/* ---------Body------------------- */

.backgorund{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(DEV-CODE-4K.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 100%;
    height: 100vh;
    position: relative;
    /* padding-bottom: 100px; altura do footer */
    /* overflow: hidden; */
}

/* ---------------- header ----------------- */

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 1rem 0 1rem 0;
    border-bottom: 0.001rem solid rgba(128, 128, 128, 0.363);
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{  /*Costumização dos links dentro da classe cabeçalho*/
    color: white;
    font-size: 15px;
}

.cabeçalho-link a:hover{ /*Costumização dos links, quando passa o mouse por cima, dentro da classe cabeçalho*/
    color: #2ecc71;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer; /*sai do ponteiro para mao*/
}

.logo:hover{
    background-color: #2ecc71;
    color: white;
    transition: 0.3s all;
}

button{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #2ecc71;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

/* ------------------- conteudo ------------------------- */

.container-text{
    /* background-color: white; */
    padding: 150px 0 0 130px; /*top right above left*/
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.text h3{
    color: white;
    font-size: 60px;
}

.text h1{
    color: white;
    margin-top: 5px;
}

.text span{
    color: #2ecc71;
    /* border-right: 3px solid white; */
    /* margin: 0 10px; */
    /* animation: typing 2s steps(13), cursor 500ms infinite step-end alternate; */
}



@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.text p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.redes-sociais a{
    /* background-color: blue; */
    color: #2ecc71;
    padding: 10px;
    font-size: 20px;
    /* margin-top: 5px; */
}

.btn{
    margin-top: 10px;
    font-size: 22px;
    height: 70px;
    width: 210px;
}

/* ------------------------ Portifolio ---------------------------------- */

.portifolio{
    text-align: right;
    margin-left: auto;
    margin-right: 250px;
    position: relative;
    /* background-color: blue; */
    padding: 50px 50px 80px 50px;
    overflow: hidden;
    display: block;
}

#top-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #2ecc71);
    animation: topline 2s linear infinite;
}

@keyframes topline{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

#right-line{
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #2ecc71);
    animation: rightline 2s linear infinite;
    animation-delay: 1s;
}

@keyframes rightline{
    0%{
        transform: translatey(-100%);
    }
    100%{
        transform: translatey(100%);
    }
}

#bottom-line{
    position: absolute;
    bottom: 0; /* Usar bottom 0, nao top 100% */
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #2ecc71);
    animation: bottomline 2s linear infinite;
}

@keyframes bottomline{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#left-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #2ecc71);
    animation: leftline 2s linear infinite;
    animation-delay: 1s;
}

@keyframes leftline{
    0%{
        transform: translatey(100%);
    }
    100%{
        transform: translatey(-100%);
    }
}

.portifolio h1{
    color: white;
    margin-right: 10px;
}

.portifolio span{
    color: #2ecc71;
}

.btn-portifolio{
    font-size: 20px;
    width: 250px;
    height: 90px;
    margin-top: 10px;
}

.btn-portifolio2{
    font-size: 20px;
    width: 250px;
    height: 90px;
    margin-top: 20px;
    display: block;
}

/*----------------- Container sobre mim---------------------- */
/* #container-sobre{
    background-color: gray;
    color: white;
    margin-top: 50px;
    width: 1000px;

} */

/* ----------------------- divisoria de pagina ---------------- */

/* #circle-container{
    display: block;
	position: relative;
    margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    color: black;
}

#semi-circle{
	background-color: #fff;
     color: black;
	width: 220px;
	height: 110px;
	border-radius: 120px 120px 0 0;
    margin: auto;
} */

/* ------------------ bounce arrow ---------------------- */
#arrow-container{
    /* background-color: white; */
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    width: 30px;
    height: 50px;
}

.bounce{
    font-size: 30px;
    animation: bounce 1.5s infinite;
    color: white;
}

@keyframes bounce{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
        color: transparent;
    }
}

/* ------------------------- about me ------------------- */
#after-background{
    background-color: black;
    padding: 0 0 50px 0;
    position: relative;
}

#aboutme-container{
    /* background-color: rgb(255, 228, 228); */
    border-left: 5px solid #2ecc71;
    /* border-radius: 2rem; */
    background-color: rgb(26, 26, 26);
    width: 70%;
    height: 500px;
    margin: auto;
    display: flex;
    overflow: hidden;
    position: relative;
}

#photo{
    display: block;
    width: 30%;
    height: 100%;
}

#about{
    display: block;
    margin: 10px 15px 10px;
    color: whitesmoke;
}

#about h2{
    color: white;
    font-size: 2.2rem;
}

#about p{
    font-size: 1.4rem;
    text-align: justify;
}

#about button{
    font-size: 1rem;
    margin-left: 10px;
}

#btn-position{
    margin: 20px 5px 5px;
}

#btn-position span{
    margin: 0 5px;
}

/* ------------------- Footer ----------------------*/

footer{
    /* background-color: blue; */
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
    /* height: 100px; */
}

