@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=The+Nautigal&display=swap');

*{ /*config geral*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; /*Tira o Estlo das lista*/
    font-family: "Poppins", sans-serif;
}

/* ---------Body------------------- */

body{
    overflow: hidden;
}

.backgorund{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(DEV-CODE-4K.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-bottom: 100px; /* altura do footer */
}

/* ---------------- header ----------------- */

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{  /*Costumização dos links dentro da classe cabeçalho*/
    color: white;
    font-size: 15px;
}

.cabeçalho-link a:hover{ /*Costumização dos links, quando passa o mouse por cima, dentro da classe cabeçalho*/
    color: #2ecc71;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer; /*sai do ponteiro para mao*/
}

button{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #2ecc71;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

/* ------------------- conteudo ------------------------- */

.container-text{
    /* background-color: white; */
    padding: 150px 0 0 130px; /*top right above left*/
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.text h3{
    color: white;
    font-size: 50px;
}

.text h1{
    color: white;
    margin-top: 5px;
}

.text span{
    color: #2ecc71;
}

.text p{
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.redes-sociais a{
    /* background-color: blue; */
    color: #2ecc71;
    padding: 10px;
    /* margin-top: 5px; */
}

.btn{
    margin-top: 10px;
}

/* ------------------------ Portifolio ---------------------------------- */

.portifolio{
    text-align: right;
    margin-left: auto;
    margin-right: 250px;
    position: relative;
    /* background-color: blue; */
    padding: 50px 50px 200px 50px;
    overflow: hidden;
}

#top-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #2ecc71);
    animation: topline 2s linear infinite;
}

@keyframes topline{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

#right-line{
    position: absolute;
    top: 0;
    left: 100%;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #2ecc71);
    animation: rightline 2s linear infinite;
    animation-delay: 1s;
}

@keyframes rightline{
    0%{
        transform: translatey(-100%);
    }
    100%{
        transform: translatey(100%);
    }
}

#bottom-line{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #2ecc71);
    animation: bottomline 2s linear infinite;
}

@keyframes bottomline{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#left-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #2ecc71);
    animation: leftline 2s linear infinite;
    animation-delay: 1s;
}

@keyframes leftline{
    0%{
        transform: translatey(100%);
    }
    100%{
        transform: translatey(-100%);
    }
}

.portifolio h1{
    color: white;
    margin-right: 10px;
}

.portifolio span{
    color: #2ecc71;
}

.btn-portifolio{
    font-size: 20px;
    width: 250px;
    margin-top: 10px;
}

footer{
    /* background-color: blue; */
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    /* height: 100px; */
}